*{
    margin: 0px;
}

body{
    background-image: linear-gradient(to left, #ff002d, #303030);
}

#nav-bar{
    width: 100%;
    height: 70px;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 1em rgb(0, 0, 0);
    position: fixed;
    top:0;
    left: 0;
}

#header-space{
    width: 100%;
    height: 70px;
    background-color: transparent;
}

#logo{
    width: 135px;
    margin: 7px 0px 7px 50px;
}

#nav-bar ul{
    padding: 0px;
    width: 408px;
    float: right;
    margin-right: 60px;
    margin-top: 18px;
}

:root{
    scroll-behavior: smooth;
}

#nav-bar li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

#content{
    width: 97%;
    height: 397px;
    background-color: #eaeaea;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

#content img{
    width: auto;
    height: 364px;
    margin-top: 16px;
    margin-left: 16px;
}

#article1-title{
    float: right;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    margin-right: 7%;
    margin-top: 6%;
    font-size: 30px;
}

#content-2{
    width: 97%;
    height: 397px;
    background-color: #383838;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#content-3{
    width: 97%;
    height: 397px;
    background-color: #eaeaea;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#box{
    width: 300px;
}

#box h2{
    font-family: 'Roboto Condensed';
}

.barra{
    width: 250px;
    height: 25px;
    margin-top: 10px;
    border-radius: 15px;
    border-style: none;
}

#send-button{
    margin-top: 10px;
    border-style: none;
    color: white;
    background-color: #616161;
    width: 78px;
    height: 35px;
    border-radius: 18px;
}